
.more-projects {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  font-size: 2rem;

  &-title {
    font-family: var(--primary-font-family);
    color: var(--dark-color);
    font-weight: 600;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
    }
}
}

